<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-danger">
        <span class="icon">
          <i class="fa fa-close"></i>
        </span>
        
        <div class="text">
          <strong>Danger</strong>
          <p>Danger Message Description Goes Here!</p>
        </div>
        
        <button class="close">
          <i class="fa fa-close"></i>
        </button>
        
      </div>
      
      
      
      <div class="alert alert-primary">
        <span class="icon">
          <i class="fa fa-info"></i>
        </span>
        
        <div class="text">
          <strong>Primary</strong>
          <p>Primary Message Description Goes Here!</p>
        </div>
        
        <button class="close">
          <i class="fa fa-close"></i>
        </button>
        
      </div>

      <div class="alert">
        <span class="icon">
          <i class="fa fa-superpowers"></i>
        </span>
        
        <div class="text">
          <strong>Default</strong>
          <p>Default Message Description Goes Here!</p>
        </div>
        
        <button class="close">
          <i class="fa fa-close"></i>
        </button>
        
      </div>


      <div class="alert alert-warning">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        
        <div class="text">
          <strong>Warning</strong>
          <p>Warning Message Description Goes Here!</p>
        </div>
        
        <button class="close">
          <i class="fa fa-close"></i>
        </button>
        
      </div>




      !---------->
      <div class="box">
        <img src="{% static 'images/menu-2.png'%}" alt="">
        <h3>tasty and healty</h3>
        <div class="price">$15.99 <span>20.99</span></div>
        <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
        <img src="{% static 'images/menu-3.png'%}" alt="">
        <h3>tasty and healty</h3>
        <div class="price">$15.99 <span>20.99</span></div>
        <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
        <img src="{% static 'images/menu-4.png'%}" alt="">
        <h3>tasty and healty</h3>
        <div class="price">$15.99 <span>20.99</span></div>
        <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
        <img src="{% static 'images/menu-5.png'%}" alt="">
        <h3>tasty and healty</h3>
        <div class="price">$15.99 <span>20.99</span></div>
        <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
        <img src="{% static 'images/menu-6.png'%}" alt="">
        <h3>tasty and healty</h3>
        <div class="price">$15.99 <span>20.99</span></div>
        <a href="#" class="btn">add to cart</a>
    </div>

</body>
</html>