{% extends 'base.html' %}
{% load static %}
{% block content %}
            <table>
                <tr>
                    <th>name</th>
                    <th>price</th>
                </tr>
                {% for item in orderdetails %}
                    <tr>
                        <td>
                            <h3 style="color: white; font-size:2em;">{{item.product.name}}</h3>
                            <h3 style="color: white; font-size:2em;">{{item.promotion.name}}</h3>
                        </td>
                        <td></td>
                        <td>
                            <h3 style="color: white; font-size:2em;">{{item.product.price}}</h3>
                            <h3 style="color: white; font-size:2em;">{{item.promotion.price}}</h3>
                        </td>
                        <td></td>
                        <td>{{item.id}}</td>
                        <td>
                            <a href="{% url 'delete' orderdetails_id=item.id %}"><h3 style="font-size: 14px; color:red;">Delete</h3></a>
                        </td>
                    </tr>
                {% empty %}
                <h1>No Orders Here</h1>
                {% endfor %}
            </table>

    
    <a href="#" class="btn">checkout now</a>

{% endblock %}